useDynLib(AutoLD, .registration = TRUE)
import(Rcpp)
import(data.table)
import(parallel)
import(stats)

export(AutoLD)
export(AutoLD_GenomeScan)
export(AutoLD_GenomeScan_can)
export(AutoLD_Permutation_Test)
export(add_autold_screening)
export(thin_snps_by_dist)
export(simulate_unified_zygotes)
export(simulate_from_eta)
export(evaluate_AutoLD_pipeline)
export(transition_kernel_biallelic)
export(solve_equilibrium_Q)
export(get_equilibrium_Q_one_eta)
export(get_equilibrium_Q_4x_closed)
export(validate_4x_solver)
export(project_ESD_general)
export(project_ESD_4x)
export(project_ESD_6x)
export(build_orthogonal_basis)
export(extract_Drs_tensor)
export(convert_b_to_a_4x)
export(calc_Deab_comp)
export(estimate_LD_decoupled)
S3method(print,AutoLD)
